---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug }
  }));
}

const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug) as CollectionEntry<"blog"> | null;
const rendered = await post.render();

console.log(rendered);

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}
---

<Layout title={post.data.title}>
  <article>
    <h1>{rendered.remarkPluginFrontmatter.title}</h1>
    <p><em>{rendered.remarkPluginFrontmatter.date.toString()}</em></p>
    <rendered.Content />
  </article>
</Layout>
