---
import Layout from '../layouts/Layout.astro';
import posts from '../content/blog/_index.js';
---

<Layout title="StaubRacing Blog">
  <h1>Welcome to the StaubRacing Blog</h1>
  <ul>
    {posts.map(post => (
      <li><a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>
</Layout>
